.hero{
    padding: 70px 0;
    background: #E7816B;
border-radius: 15px;
&__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &--left-title{
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        /* identical to box height, or 100% */
        
        
        color: #FFFFFF;
        
    }
    &--left-text{
        width: 450px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        /* or 162% */
        
        
        color: #FFFFFF;
        
    }
    form{
        display: flex;
        flex-direction: column;

        input{
            padding: 20px;
            border: none;
          background: none;
          border-bottom: 1px solid #fff;
          outline: none;
          cursor: pointer;
          &:hover{
            border-bottom:3px solid #fff;
          }
         &:hover::placeholder{
            color: #fff;

         }
        }
        textarea{
            border: none;
            outline: none;
            background: none;
            border-bottom: 1px solid #fff;
            padding:18px ;
            &:hover{
                border-bottom:3px solid #fff;
              }
             &:hover::placeholder{
                color: #fff;
    
        }
    }
}
}
}